body {
  display: none;
  font-size: 14px;
  color: #333;
}

textarea,
textarea.form-control,
input.form-control,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
[type="text"].form-control,
[type="password"].form-control,
[type="email"].form-control,
[type="tel"].form-control,
[contenteditable].form-control {
  font-size: 14px;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

label {
  -webkit-user-select: none;
  user-select: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.btn-del:hover,
.btn-del:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

.list-panel {
  min-height: 100vh;
  padding: 53px 0 30px;
  user-select: none;
}

.noscroll {
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
  top: 0;
  min-width: 580px;
  width: 100%;
  background: #fff;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
  z-index: 999;
  box-shadow: 0px 1px 3px 0px #ddd;
}

header .header-badge {
  font-size: 16px;
  display: flex;
  align-items: center;
}

header .header-badge i {
  display: inline-block;
  font-size: 22px;
  position: relative;
  top: -1px;
  margin-right: 6px;
  color: #666;
}

body.active header .header-badge i {
  color: #1296db;
}

header .header-btns a {
  border-radius: 30px;
  margin-left: 8px;
}

header .header-btns i {
  font-size: 13px;
}

header .header-badge span {
  position: relative;
  top: 2px;
}
header .header-badge span:after {
  content: " (已禁用)";
  color: orangered;
}
body.active header .header-badge span:after {
  content: "";
}
.edit-panel {
  left: 100%;
  transition: left 0.5s;
  border-left: 1px solid #ddd;
  height: 100vh;
  position: fixed;
  top: 0;
  background: #fff;
  overflow-y: auto;
  z-index: 1000;
  padding-top: 60px;
  width: 100%;
  overflow-x: hidden;
}

.edit-panel header {
  user-select: none;
}

.edit-header div {
  font-size: 16px;
  padding-right: 5px;
}

.input-group-btn > .btn {
  border: 0;
  box-shadow: none;
}

.input-group-btn {
  box-shadow: inset 0 -1px 0 #dddddd;
}

.input-group {
  width: 200px;
}

.input-group-addon {
  border-bottom: 1px solid #ddd;
}

.swal2-popup .swal2-title {
  font-weight: normal !important;
}

.swal2-popup .swal2-content {
  margin-bottom: 10px !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

.swal2-confirm {
  margin-right: 10px;
}

.lang-mode-wrap {
  background: #f7f7f7;
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 30px;
  user-select: none;
}

.lang-mode-wrap p,
.lang-mode-wrap select {
  float: right;
}

.lang-mode-wrap p {
  margin: 2px 4px 0 0;
}

.lang-mode-wrap select {
  width: 80px;
}

.lang-mode-wrap select:focus,
.lang-mode-wrap select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#text-body {
  height: 400px;
  border: 1px solid #eee;
  border-top: 0;
}

.split-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 8px;
  margin-top: -12px;
  background: #fff;
  color: #666;
  -webkit-user-select: none;
  user-select: none;
  letter-spacing: 1px;
}

.req-panel {
  margin: 15px 20px;
}

.res-panel {
  margin: 30px 20px;
}

.bootstrap-switch {
  margin-left: 12px;
  margin-top: 1px;
}

.data-li {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 18px;
  padding: 10px;
  transition: all 0.3s;
}

.data-li:hover {
  box-shadow: 0px 0px 7px #aaa;
}
li.data-li.inactive {
  opacity: 0.6;
}
.data-li:hover .btn-edit {
  color: #1b9af7;
}
.data-li:hover .btn-del {
  color: orangered;
}
.div-left {
  flex: 1;
  overflow: hidden;
  margin-right: 10px;
  cursor: alias;
}

.div-top {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px dashed #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.div-right {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-method {
  font-size: 12px;
  font-weight: bold;
  color: #808080;
  display: inline-block;
}

.list-method.GET {
  color: cornflowerblue;
}

.list-method.POST {
  color: #ffb400;
}

.list-method.PUT {
  color: #097bed;
}

.list-method.DELETE {
  color: #ed4b48;
}

.swal2-confirm.btn-danger {
  background: #ff4351;
}

.swal2-popup .swal2-title {
  font-size: 23px !important;
}

.changelog {
  text-align: left;
  margin-left: 43px;
}

.changelog ul {
  list-style-type: disc;
}

.btn-del {
  margin-left: 8px;
  font-size: 21px;
  color: #777;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  top: 1px;
}

.btn-del:active,
.btn-del.active,
.btn-del.is-active {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 0.3;
}

.save-wrap {
  position: fixed;
  bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-save {
  width: 120px;
  border-radius: 30px;
  background-color: #4caf50c7;
  padding: 8px 20px;
  font-size: 14px;
}

.btn-save:hover,
.btn-save:active:hover {
  background-color: #439a46c7;
}

.btn-save:focus {
  background-color: #4caf50c7;
}

.btn {
  text-transform: none;
}

span.list-uri {
  font-weight: 500;
}
.success-status {
  color: green;
}
.error-status {
  color: orangered;
}

#data:empty:after {
  content: "No Data";
  display: block;
  margin-top: 50px;
  text-align: center;
  color: #777;
  font-size: 15px;
}

footer {
  height: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left a {
  color: #333;
  text-decoration: underline;
  margin: 0 3px;
}

.footer-left i.iconfont {
  font-size: 15px;
}

.footer-left i.iconlove {
  margin: 0 3px;
  color: orangered;
}

#curr-version a {
  color: #333;
  text-decoration: underline;
}

.btn-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 30px;
  margin-left: 8px;
}

.btn-upload input {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
  display: block;
}

body.swal2-shown .list-panel {
  filter: blur(3px);
}

.switchery-small {
  width: 42px;
}
